site_name: Event Issuer
site_description: Event Issuer

nav:
  - Introduction: index.md
  - Terminology: terminology.md
  - User Guides:
    - Getting Started: user-guides/getting-started.md
    - Tenants: user-guides/tenants.md
    - Subscriptions: user-guides/subscriptions.md
    - Producing: user-guides/producing.md
    - Cloudevents: user-guides/cloudevents.md
    - Tracing: user-guides/tracing.md
  # - Changelog: changelog.md
  - API Specifications:
    - v1: apis/v1.md

theme:
  name: material
  logo: img/baneNOR-logo.svg
  favicon: img/baneNOR-favicon.png # located here: https://www.banenor.no/Resources/Favicon/favicon-32x32.png
  include_search_page: false
  search_index_only: true
  language: en
  font:
    text: Roboto
    code: Roboto Mono
  # icon:
    # logo: logo
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: deep orange
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: light blue
      accent: deep orange
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode

  features:
    - toc.follow
    - content.code.annotate
    - content.tooltips
    - search.suggest
    - search.highlight
    - search.share
    - content.tabs.link
    - navigation.instant
    - navigation.indexes
    - navigation.top
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.tracking

plugins:
  - search:
      lang: en
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
      #exclude:
      #  - deployment/allowed-registries.md
  - glightbox
  # - minify:
      # minify_html: true
  - redoc-tag:
      height: 75vh

extra:
  generator: false
  search:
    language: "en"

  # alternate:
  #   - name: English
  #     link: /
  #     lang: en

markdown_extensions:
  - footnotes
  - attr_list
  - def_list
  - md_in_html
  - admonition
  - abbr
  - tables
  - pymdownx.details
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      use_pygments: true
      linenums: true
      linenums_style: pymdownx-inline
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.keys
  - pymdownx.smartsymbols
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - toc:
      permalink: true

#extra_css:
#  - vendor/custom.css
extra_javascript:
  - https://cdn.redoc.ly/redoc/v2.0.0/bundles/redoc.standalone.js
